.product-detail{
  margin-top: 30px;
}
.floor-item{
  width: 230px;
  height: 350px;
  display: inline-block;
  margin-right: 5px;
}
.floor-item a{
  width: 230px;
  height: 350px;
  display: inline-table;
  box-sizing:border-box;;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border: 1px solid #D8D8D8;

}
.floor-item > a:link{
  border:none;
}
.floor-item > a:visited{
  border:none;
}
.floor-item > a:hover{
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  box-shadow: 3px 3px 30px #D8D8D8;
}
.floor-item > a:active{
  border: 1px solid #D8D8D8;
  border-radius: 4px;
}

.product-img-wrapper,.product-img{
  width: 210px;
  height: 210px;
}
.product-img-wrapper{
  margin: 10px;
  vertical-align: middle;
}
.product-name{
  margin-left: 10px;
  color: #1F2749;
}
.product-price{
  margin-left: 10px;
  margin-top: 10px;
}
.present-price,.filter{
  font-size: 1em;
  color: #FC223D;
}
.original-price{
  font-size: 0.86em;
  color: #6A6F86;
  margin-left: 6px;
  text-decoration: line-through;;
}
.off{
  padding: 7px 7px 3px 7px;
  background-color: #070F35;
  color: #FFF;
  font-size: 1em;
  margin-top: 10px;
}
.like{
  width: 30px;
  height: 30px;
  float: right;
  margin-top: 10px;
}
.product-hover{
  width: 210px;
  margin-left: 10px;
  margin-right: 10px;
}
.floor-item > a p.off,.floor-item > a img.like{
  display: none;
}
.floor-item > a:hover p.off,.floor-item > a:hover img.like{
  display: inline-block;
}
.view-more{
  width: 400px;
  height: 42px;
  margin: 30px auto;
}

.more-button{
  width: 400px;
  height: 42px;
  background: #FFF;
  line-height: 1.5;
  cursor: pointer;
}
.more-button{
  border: 1px solid #D8D8D8;
  border-radius: 4px;
}

.title-pic,.upper-img{
  width: 1200px;
  height: 320px;
}

.location{
  margin: 10px 0 0 10px;
}
.location-a{
  color: #6A6F86;
  font-size: 1em;
  vertical-align: middle;
}
.location-name{
  color: #00001F;
  font-size: 1.43em;
  vertical-align: middle;
}
.location-name2{
  color: #00001F;
  font-size: 1em;
  vertical-align: middle;
}

.items{
  margin-top: 10px;
}
