<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="../src/css/global.css">
    <link rel="stylesheet" href="../src/css/profile.css">
    <link rel="stylesheet" href="../src/lib/css/jquery-ui.min.css">
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="nav">
          <div class="block2inline">
            <a href="./index.html" class="header-logo" target="_blank"></a>
          </div>

          <div class="search block2inline">

            <div class="search-panel-fields ">
              <input type="text" class="search-input" placeholder="NEW PRODUCTS" autocomplete="off">
            </div>
            <div class="search-button ">
              <button class="btn-search">Search</button></div>
          </div>
          <ul class="nav-content" id="idmenu">
            <li class="item">
              <a href="#">Sign In</a>
              <ul>
                <li class="menu-item">
                  <a href="">Notification</a>
                </li>
                <li class="menu-item">
                  <a href="">Orders</a>
                </li>
                <li class="menu-item">
                  <a href="#">Reviews</a>
                </li>
                <li class="menu-item">
                  <a href="">Shipping</a>
                </li>
              </ul>
            </li>
            <li class="line item" ></li>
            <li class="item">
              <a href="#">MY FAVORITES</a>
              <ul>
                <li class="menu-item">
                  <a href="">Notification</a>
                </li>
                <li class="menu-item">
                  <a href="">Orders</a>
                </li>
                <li class="menu-item">
                  <a href="#">Reviews</a>
                </li>
                <li class="menu-item">
                  <a href="">Shipping</a>
                </li>
              </ul>
            </li>
              <li class="line item"></li>
            <li class="item">
              <a href="#">CART</a>
              <img src="../src/assets/Shopping_Card.png" alt="购物车" />
              <ul>
                <li class="menu-item">
                  <a href="">Notification</a>
                </li>
                <li class="menu-item">
                  <a href="">Orders</a>
                </li>
                <li class="menu-item">
                  <a href="#">Reviews</a>
                </li>
                <li class="menu-item">
                  <a href="">Shipping</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <ul class="category">
          <li class="block2inline">
            <a href="" class="item-category">Home</a></li>
          <li class="block2inline">
            <a href="" class="item-category">Outdoor Diniing</a></li>
          <li class="block2inline">
            <a href="" class="item-category">Dining & Entertaining</a></li>
          <li class="block2inline">
            <a href="" class="item-category">Kitchen</a></li>
          <li class="block2inline">
            <a href="" class="item-category">Decor & Curtains</a></li>
          <li class="block2inline">
            <a href="" class="item-category">Lighting Bed & Bath Organization</a></li>

        </ul>
      </div>
    </div>
    <div class="container profile-space-bottom">
      <div class="top-space-20 nav-top">
        <a href="#" class="nav-category">Home</a> >
        <a href="#" class="nav-current">address</a>
      </div>
      <div class="profile">
        <div class="block2inline nav-profile">
          <ul >
            <li><a href="#" class="default">Orders</a></li>
            <li><a href="#" class="default">My Favorites</a></li>
            <li><a href="#" class="default">Reviews</a></li>
            <li><a href="#" class="active">Shipping Address</a></li>
            <li><a href="#" class="default">Profile Info</a></li>
            <li><a href="#" class="default">Password</a></li>
          </ul>
        </div>
        <div class="profile-content block2inline">
          <div class="profile-name">
            <p>Shipping Address</p>
          </div>
          <ul class="top-space-20 profile-address">
            <li>
              <div class="address-detail">
                <div class="address float-left">
                    <div >
                      <span class="multi-break">ASA ASA</span>
                    </div>
                    <div >
                      <span class="multi-break">212-2333-4444</span>
                    </div>
                    <div >
                      <p class="multi-break">Floor New York Floor New York Floor New loor New York Floor New York Floor New York Floor New York Floor York Floor New Y</p>
                    </div>
                </div>
                <div class="clearfix modify">
                  <div >
                    <a href="#">
                      <img src="../src/assets/edit.png" alt="edit">
                      <span>Edit</span>
                    </a>
                  </div>
                  <div class="delete">
                    <a href="#">
                      <img src="../src/assets/delete.png" alt="delete">
                      <span>Delete</span>
                    </a>

                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="btn-add-address">
            <a href="#" id="add-address" style="outline: none;">
              <div class="add-address">
                  <img src="../src/assets/add.png" alt="add" />
                  <span>Add Address</span>
              </div>
            </a>
          </div>

        </div>

      </div>

    </div>
    <div id="dialog-form">
      <div class="dialog-content">
        <div class="dialog-header clearfix">
          <p class="dialog-title float-left">Add New Address</p>
          <p class="dialog-tip float-right">*Indicates a fild is required</p>

        </div>
        <div class="dialog-container">
            <div class="top-space-10">
              <div class="dialog"><label for="country">Country</label></div>
              <div class="top-space-10">
                <input type="text" id="country" class="input1" placeholder="">
              </div>
            </div>

            <div class="top-space-20 right-space-20 clearfix wraper">
              <div class="float-left">
                <div class="dialog "><label for="first-name">First Name</label></div>
                <div class="top-space-10">
                  <input type="text" id="first-name" class="input2" >
                </div>
              </div>
              <div class="float-right left-space-20">
                <div class="dialog "><label for="last-name">Last Name</label></div>
                <div class="top-space-10">
                  <input type="text" id="last-name" class="input2" >
                </div>
              </div>
            </div>
            <div class="top-space-20">
              <div class="dialog"><label for="address">Strings Address*</label></div>
              <div class="top-space-10">
                <input type="text" id="address" class="input1" placeholder="">
              </div>
            </div>
            <div class="top-space-20">
              <div class="dialog"><label for="business">Apt,#,Business Name, ETc*</label></div>
              <div class="top-space-10">
                <input type="text" id="business" class="input1" placeholder="">
              </div>
            </div>
            <div class="top-space-20">
              <div class="dialog"><label for="city">City*</label></div>
              <div class="top-space-10">
                <input type="text" id="city" class="input1" placeholder="">
              </div>
            </div>
            <div class="top-space-20 clearfix wraper">
              <div class="float-left">
                <div class="dialog "><label for="street">Street*</label></div>
                <div class="top-space-10">
                  <input type="text" id="street" class="input2" >
                </div>
              </div>
              <div class="float-right left-space-20">
                <div class="dialog "><label for="zip">Zip Code*</label></div>
                <div class="top-space-10">
                  <input type="text" id="zip" class="input2" >
                </div>
              </div>
            </div>
            <div class="top-space-20">
              <div class="dialog"><label for="email">Email*</label></div>
              <div class="top-space-10">
                <input type="text" id="email" class="input1" placeholder="">
              </div>
            </div>
            <div class="top-space-20">
              <div class="dialog"><label for="phone">Phone*</label></div>
              <div class="top-space-10">
                <input type="text" id="phone" class="input1" placeholder="">
              </div>
            </div>
            <div class="dialog-button">
              <button class="btn dialog-btn">Submit</button>
            </div>

        </div>

      </div>
    </div>

    <div class="footer">
      <div class="footer_server">
        <div class="container">
          <div class="foot-link ">
            <div class="about_us block2inline">
              <p>About Us</p>
              <ul>
                <li><a href="">Our Company</a></li>
                <li><a href="">Press Center </a></li>
                <li><a href="">Uenjoy Influencers</a></li>
              </ul>
            </div>

            <div class="contact_us block2inline">
              <p>Contact Us</p>
              <ul>
                <li><a href="">+1(800)399 4822 (US)</a></li>
                <li><a href="">+1(800)399 4822 (US)</a></li>
              </ul>
              <ul>
                <li><a href="">Email</a></li>
                <li><a href="">Service@Uenjoy.com</a></li>
              </ul>
            </div>
            <div class="payment_method block2inline">
              <p>Payment Methods</p>
              <ul>
                <li><a href="">PayPal</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-vertical-line"></div>
          <div class="subscribe clearfix">
            <p class="subscribe-title">Subscribe</p>
            <p class="subscribe-content">
              Be the first to know about out lastest product.
            </p>
            <div class="subscribe-submit block2inline">

              <div class="clearfix block2inline">
                <input type="text" class="search-input" placeholder="NEW PRODUCTS" autocomplete="off">
              </div>
              <div class="footer-submit">
                <button >Search</button></div>
            </div>

          </div>
        </div>
      </div>

      <div class="footer-nav ">
          <div >
            <img src="../src/assets/uenjoy.png" alt="U Enjoy" class="uenjoy-img">
          </div>
          <div >
            <img src="../src/assets/UEnjoy_Delivery.png" alt="U Enjoy We Delivery" />
            <p class="follow_us">FOLLOW US</p>
          <div class="follow_us-content">
            <img src="../src/assets/Facebook.png" alt="Facebook" class="follow_us_img follow-space-right">
            <img src="../src/assets/tw.png" alt="Twitter" class="follow_us_img follow-space-right">
            <img src="../src/assets/LinkedIn.png" alt="LinkedIn" class="follow_us_img follow-space-right">
            <img src="../src/assets/YouTube.png" alt="YouTube" class="follow_us_img follow-space-right">
            <img src="../src/assets/ins.png" alt="instagram" class="follow_us_img">
          </div>
          <div class="footer-line"></div>
          <p class="footer-tip">PatPat is a registered trademark of InterFocus Inc. All Rights Reserved.</p>
        </div>

      </div>

    </div>
    <script type="text/javascript" src="../src/lib/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="../src/lib/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../src/lib/js/jquery.mnmenu.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {
              $('#idmenu').mnmenu();
              $("#add-address").click(function () {
                $("#dialog-form").dialog("open");
              });
              $("#dialog-form").dialog({
                autoOpen: false,
                width: 780,
                modal: true,
                closeOnEscape:false,
                close: function(event, ui) {
                   $('#wrap').show();
                },
                open: function(event, ui) {
                  $(".ui-dialog-titlebar", $(this).parent()).hide();
                  $(".ui-widget-overlay").css({"background-color":"#222","opacity":"0.8"});
                  $('.ui-widget-overlay').bind('click', function(){           $("#dialog-form").dialog('close'); });
                }

              });
          });
    </script>
  </body>
</html>
