<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>购物车</title>
    <link rel="stylesheet" href="../src/css/global.css">
    <link rel="stylesheet" href="../src/css/cart.css">
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="nav">
          <div class="block2inline">
            <a href="./index.html" class="header-logo" target="_blank"></a>
          </div>

          <div class="search block2inline">

            <div class="search-panel-fields ">
              <input type="text" class="search-input" placeholder="NEW PRODUCTS" autocomplete="off">
            </div>
            <div class="search-button ">
              <button class="btn-search">Search</button></div>
          </div>
          <ul class="nav-content" id="idmenu">
            <li class="item">
              <a href="#">Sign In</a>
              <ul>
                <li class="menu-item">
                  <a href="">Notification</a>
                </li>
                <li class="menu-item">
                  <a href="">Orders</a>
                </li>
                <li class="menu-item">
                  <a href="#">Reviews</a>
                </li>
                <li class="menu-item">
                  <a href="">Shipping</a>
                </li>
              </ul>
            </li>
            <li class="line item" ></li>
            <li class="item">
              <a href="#">MY FAVORITES</a>
              <ul>
                <li class="menu-item">
                  <a href="">Notification</a>
                </li>
                <li class="menu-item">
                  <a href="">Orders</a>
                </li>
                <li class="menu-item">
                  <a href="#">Reviews</a>
                </li>
                <li class="menu-item">
                  <a href="">Shipping</a>
                </li>
              </ul>
            </li>
              <li class="line item"></li>
            <li class="item">
              <a href="#">CART</a>
              <img src="../src/assets/Shopping_Card.png" alt="购物车" />
              <ul>
                <li class="menu-item">
                  <a href="">Notification</a>
                </li>
                <li class="menu-item">
                  <a href="">Orders</a>
                </li>
                <li class="menu-item">
                  <a href="#">Reviews</a>
                </li>
                <li class="menu-item">
                  <a href="">Shipping</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <ul class="category">
          <li class="block2inline">
            <a href="" class="item-category">Home</a></li>
          <li class="block2inline">
            <a href="" class="item-category">Outdoor Diniing</a></li>
          <li class="block2inline">
            <a href="" class="item-category">Dining & Entertaining</a></li>
          <li class="block2inline">
            <a href="" class="item-category">Kitchen</a></li>
          <li class="block2inline">
            <a href="" class="item-category">Decor & Curtains</a></li>
          <li class="block2inline">
            <a href="" class="item-category">Lighting Bed & Bath Organization</a></li>

        </ul>
      </div>
    </div>
    <div class="container profile-space-bottom">
      <div class="top-space-20 nav-top">
        <a href="#" class="nav-category">Home</a> >
        <a href="#" class="nav-current">Shipping Cart</a>
      </div>
      <div class="top-space-20">
        <p class="default-title">Shipping Cart</p>
      </div>
      <div class="top-space-10 clearfix right-space-20">
        <div class="float-right">
          <div class="float-left">
            <p>
              <span class="default-content">Order Total: </span>
              <span class="red-font"> $132.00</span>
              <p class="default-tip">You're saving $21.00</p>
            </p>
          </div>
          <div class="left-space-10 float-left">
            <button class="check-btn">Proceed to Checkout</button>
          </div>
        </div>
      </div>
      <div class="cart-table top-space-10">
        <table>
          <tbody>
            <tr>
              <th class="cart-table-1 default-content">
                <span class="fitst-item-name">ITEM</span>
              </th>
              <th class="cart-table-2 default-content">PRICE</th>
              <th class="cart-table-3 default-content">SHIP TO</th>
              <th class="cart-table-4 default-content">QUANTITY</th>
              <th class="cart-table-5 default-content">SUBTOTAL</th>
              <th class="cart-table-6 default-content">EDIT</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="cart-product">
        <ul>
          <li>
            <table>
              <tbody>
                <tr>
                  <th class="cart-table-1 clearfix">
                    <a href="#">
                      <img src="../src/assets/product_img.png" class="cart-img float-left">
                      <p class="product-name default-content multi-break">
                        This is the name of Product  is the name of product
                        This is the name of Product  is the name of product
                        This is the name of Product  is the name of product
                      </p>
                    </a>


                  </th>
                  <th class="cart-table-2">
                    <p class="gray top-space-20">
                      <span class="red-font2">$120.00 </span>
                      <span class="default-tip market-tip">$99.99</span>
                    </p>
                    <p class="default-tip top-space-10">You're Savubg $21.00</p>
                  </th>
                  <th class="cart-table-3">
                      <p class="blue-font top-space-20">$10.00</p>
                  </th>
                  <th class="cart-table-4">
                    <div class="top-space-20 shipping">
                      <a href="#" class="decrease-button default-content">-</a>
                      <input type="text" class="quantity-input">
                      <a href="#" class="plus-button default-content">+</a>
                    </div>

                  </th>
                  <th class="cart-table-5">
                    <a href="" >
                      <p class="default-content top-space-20">$120.00</p>
                    </a>
                  </th>
                  <th class="cart-table-6">
                    <div class="top-space-20 edit" >
                      <a href="#">
                        <img src="../src/assets/like.png" class="save-img" />
                        <span class="default-tip2 left-space-10">Save For Later</span>
                      </a>
                    </div>
                    <div class="top-space-20 edit"
                      <a href="#" >
                        <img src="../src/assets/delete.png" class="remove" />
                        <span class="default-tip2 left-space-10">Remove</span>
                      </a>
                    </div>
                  </th>

                </tr>
              </tbody>
            </table>
          </li>
          <li>
            <table>
              <tbody>
                <tr>
                  <th class="cart-table-1 clearfix">
                    <a href="#">
                      <img src="../src/assets/product_img.png" class="cart-img float-left">
                      <p class="product-name default-content multi-break">
                        This is the name of Product  is the name of product
                        This is the name of Product  is the name of product
                        This is the name of Product  is the name of product
                      </p>
                    </a>


                  </th>
                  <th class="cart-table-2">
                    <p class="gray top-space-20">
                      <span class="red-font2">$120.00 </span>
                      <span class="default-tip market-tip">$99.99</span>
                    </p>
                    <p class="default-tip top-space-10">You're Savubg $21.00</p>
                  </th>
                  <th class="cart-table-3">
                      <p class="blue-font top-space-20">$10.00</p>
                  </th>
                  <th class="cart-table-4">
                    <div class="top-space-20 shipping">
                      <a href="#" class="decrease-button default-content">-</a>
                      <input type="text" class="quantity-input">
                      <a href="#" class="plus-button default-content">+</a>
                    </div>

                  </th>
                  <th class="cart-table-5">
                    <a href="" >
                      <p class="default-content top-space-20">$120.00</p>
                    </a>
                  </th>
                  <th class="cart-table-6">
                    <div class="top-space-20 edit" >
                      <a href="#">
                        <img src="../src/assets/like.png" class="save-img" />
                        <span class="default-tip2 left-space-10">Save For Later</span>
                      </a>
                    </div>
                    <div class="top-space-20 edit"
                      <a href="#" >
                        <img src="../src/assets/delete.png" class="remove" />
                        <span class="default-tip2 left-space-10">Remove</span>
                      </a>
                    </div>
                  </th>

                </tr>
              </tbody>
            </table>
          </li>
          <li>
            <table>
              <tbody>
                <tr>
                  <th class="cart-table-1 clearfix">
                    <a href="#">
                      <img src="../src/assets/product_img.png" class="cart-img float-left">
                      <p class="product-name default-content multi-break">
                        This is the name of Product  is the name of product
                        This is the name of Product  is the name of product
                        This is the name of Product  is the name of product
                      </p>
                    </a>


                  </th>
                  <th class="cart-table-2">
                    <p class="gray top-space-20">
                      <span class="red-font2">$120.00 </span>
                      <span class="default-tip market-tip">$99.99</span>
                    </p>
                    <p class="default-tip top-space-10">You're Savubg $21.00</p>
                  </th>
                  <th class="cart-table-3">
                      <p class="blue-font top-space-20">$10.00</p>
                  </th>
                  <th class="cart-table-4">
                    <div class="top-space-20 shipping">
                      <a href="#" class="decrease-button default-content">-</a>
                      <input type="text" class="quantity-input">
                      <a href="#" class="plus-button default-content">+</a>
                    </div>

                  </th>
                  <th class="cart-table-5">
                    <a href="" >
                      <p class="default-content top-space-20">$120.00</p>
                    </a>
                  </th>
                  <th class="cart-table-6">
                    <div class="top-space-20 edit" >
                      <a href="#">
                        <img src="../src/assets/like.png" class="save-img" />
                        <span class="default-tip2 left-space-10">Save For Later</span>
                      </a>
                    </div>
                    <div class="top-space-20 edit"
                      <a href="#" >
                        <img src="../src/assets/delete.png" class="remove" />
                        <span class="default-tip2 left-space-10">Remove</span>
                      </a>
                    </div>
                  </th>

                </tr>
              </tbody>
            </table>
          </li>
        </ul>
      </div>
      <div class="top-space-20 clearfix right-space-20">
        <div class="float-right">
          <div class="float-left">
            <p>
              <span class="default-content">Order Total: </span>
              <span class="red-font"> $132.00</span>
              <p class="default-tip">You're saving $21.00</p>
            </p>
          </div>
          <div class="left-space-10 float-left">
            <button class="check-btn">Proceed to Checkout</button>
          </div>
        </div>
      </div>


    </div>
    <div class="footer">
      <div class="footer_server">
        <div class="container">
          <div class="foot-link ">
            <div class="about_us block2inline">
              <p>About Us</p>
              <ul>
                <li><a href="">Our Company</a></li>
                <li><a href="">Press Center </a></li>
                <li><a href="">Uenjoy Influencers</a></li>
              </ul>
            </div>

            <div class="contact_us block2inline">
              <p>Contact Us</p>
              <ul>
                <li><a href="">+1(800)399 4822 (US)</a></li>
                <li><a href="">+1(800)399 4822 (US)</a></li>
              </ul>
              <ul>
                <li><a href="">Email</a></li>
                <li><a href="">Service@Uenjoy.com</a></li>
              </ul>
            </div>
            <div class="payment_method block2inline">
              <p>Payment Methods</p>
              <ul>
                <li><a href="">PayPal</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-vertical-line"></div>
          <div class="subscribe clearfix">
            <p class="subscribe-title">Subscribe</p>
            <p class="subscribe-content">
              Be the first to know about out lastest product.
            </p>
            <div class="subscribe-submit block2inline">

              <div class="clearfix block2inline">
                <input type="text" class="search-input" placeholder="NEW PRODUCTS" autocomplete="off">
              </div>
              <div class="footer-submit">
                <button >Search</button></div>
            </div>

          </div>
        </div>
      </div>

      <div class="footer-nav ">
          <div >
            <img src="../src/assets/uenjoy.png" alt="U Enjoy" class="uenjoy-img">
          </div>
          <div >
            <img src="../src/assets/UEnjoy_Delivery.png" alt="U Enjoy We Delivery" />
            <p class="follow_us">FOLLOW US</p>
          <div class="follow_us-content">
            <img src="../src/assets/Facebook.png" alt="Facebook" class="follow_us_img follow-space-right">
            <img src="../src/assets/tw.png" alt="Twitter" class="follow_us_img follow-space-right">
            <img src="../src/assets/LinkedIn.png" alt="LinkedIn" class="follow_us_img follow-space-right">
            <img src="../src/assets/YouTube.png" alt="YouTube" class="follow_us_img follow-space-right">
            <img src="../src/assets/ins.png" alt="instagram" class="follow_us_img">
          </div>
          <div class="footer-line"></div>
          <p class="footer-tip">PatPat is a registered trademark of InterFocus Inc. All Rights Reserved.</p>
        </div>

      </div>

    </div>
    <script type="text/javascript" src="../src/lib/js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="../src/lib/js/jquery.mnmenu.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
              $('#idmenu').mnmenu();
          });
    </script>
  </body>
</html>
